AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: true
BasedOnStyle: 'Chromium'
ColumnLimit: '132'
IndentWidth: '4'
Language: 'Cpp'
NamespaceIndentation: None
MaxEmptyLinesToKeep: '1'